language: node_js
cache:
  directories:
    - $HOME/.npm
    - node_modules
node_js:
  - node
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

before_install:
  - npm config set spin false
  - npm install -g npm@^5
install:
  - npm install
script:
  - npm run bundle
  - npm run test
after_script:
  - codeclimate-test-reporter < coverage/lcov.info
